footer{
    padding: 25px 0;
    display: none;
}

footer h2{
    /* font-size: 50px; */
    text-align: center;
}

.grid_container{
    margin: 60px auto;
    width: 1500px;
    max-width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap:15px;
    grid-template-areas:
    "item1 item2"
    "item3 item3";
}

.grid_item{
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.grid_item img {
    height: 150px;
    width: 150px;
}

#item1{
    grid-area: item1;
}

#item2{
    grid-area: item2;
    flex-direction: column;
    gap: 10px

}

#item3{
    grid-area: item3;
}

@media(max-width: 800px){
    .grid_container{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
        "item1"
        "item2"
        "item3";
    }
}